/* add your CSS here */
.animaldeck {
    display: flex;
    flex-wrap:wrap;
}


.animalcard {
    width: 350px;
    border: 3px solid gold;
    box-shadow: 5px 10px rgba(44, 75, 32, 0.658);
    border-radius: 15px;
    background-color: burlywood;
    margin: 10px;
}

h3 {
    padding-left: 10px;
    padding-bottom: 0px;
    font-size: 35px;
    border: 3px solid burlywood;
}

img {
    width: 300px; 
    margin: 10px;
    border: 3px solid burlywood;
    padding-left: 10px;
}

.animalinfo{
    width: 300px;
    height:310px;
    border: 3px solid rgba(44, 75, 32, 0.658);
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align:left;
    vertical-align: top;
}

.interestingfact {
    font-style: italic;
}

ul {
    list-style: none;
    padding-left: 0;
}

span {
    font-weight: bold;
}


